<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="shadow-lg card">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Crear Nuevo Usuario</h3>

                    <!-- Mensaje de estado -->
                    <p *ngIf="mensaje" class="text-center alert"
                        [ngClass]="{'alert-success': !mensaje.includes('Error'), 'alert-danger': mensaje.includes('Error')}">
                        {{ mensaje }}
                    </p>

                    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                        <!-- DNI -->
                        <div class="mb-3">
                            <label for="dni" class="form-label">DNI:</label>
                            <input type="text" class="form-control" id="dni" formControlName="dni"
                                placeholder="Introduzca el DNI" />
                            <div *ngIf="registroForm.get('dni')?.touched">
                                <small *ngIf="registroForm.get('dni')?.errors?.['required']" class="text-danger">
                                    El DNI es obligatorio.
                                </small>
                                <small
                                    *ngIf="registroForm.get('dni')?.errors?.['minlength'] || registroForm.get('dni')?.errors?.['maxlength']"
                                    class="text-danger">
                                    El DNI debe tener 9 caracteres.
                                </small>
                            </div>
                        </div>

                        <!-- Nombre y Apellido -->
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" formControlName="nombre"
                                    placeholder="Introduzca el nombre" />
                                <small
                                    *ngIf="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.errors?.['required']"
                                    class="text-danger">
                                    El nombre es obligatorio.
                                </small>
                            </div>
                            <div class="col-md-6">
                                <label for="apellido" class="form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellido" formControlName="apellido"
                                    placeholder="Introduzca el apellido" />
                                <small
                                    *ngIf="registroForm.get('apellido')?.touched && registroForm.get('apellido')?.errors?.['required']"
                                    class="text-danger">
                                    El apellido es obligatorio.
                                </small>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                placeholder="usuario@gmail.com" />
                            <div *ngIf="registroForm.get('email')?.touched">
                                <small *ngIf="registroForm.get('email')?.errors?.['required']" class="text-danger">
                                    El email es obligatorio.
                                </small>
                                <small *ngIf="registroForm.get('email')?.errors?.['email']" class="text-danger">
                                    Introduce un email válido.
                                </small>
                            </div>
                        </div>

                        <!-- Contraseña y Confirmar Contraseña -->
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="password" formControlName="password"
                                    placeholder="Mínimo 5 caracteres" />
                                <div *ngIf="registroForm.get('password')?.touched">
                                    <small *ngIf="registroForm.get('password')?.errors?.['required']"
                                        class="text-danger">
                                        La contraseña es obligatoria.
                                    </small>
                                    <small *ngIf="registroForm.get('password')?.errors?.['minlength']"
                                        class="text-danger">
                                        La contraseña debe tener al menos 5 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña:</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    formControlName="confirmPassword" placeholder="Repita la contraseña" />
                                <div *ngIf="registroForm.get('confirmPassword')?.touched">
                                    <small *ngIf="registroForm.get('confirmPassword')?.errors?.['required']"
                                        class="text-danger">
                                        Confirma la contraseña.
                                    </small>
                                </div>
                                <small
                                    *ngIf="registroForm.errors?.['passwordsNotMatching'] && registroForm.get('confirmPassword')?.touched"
                                    class="text-danger">
                                    Las contraseñas no coinciden.
                                </small>
                            </div>
                        </div>

                        <!-- Selección de Rol -->
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol:</label>
                            <select class="form-control" id="rol" formControlName="rol">
                                <option *ngFor="let rol of roles" [value]="rol">
                                    {{ rol }}
                                </option>
                            </select>
                        </div>

                        <!-- Selección de Membresía -->
                        <div class="mb-3">
                            <label for="membresia" class="form-label">Membresía:</label>
                            <select class="form-control" id="membresia" formControlName="membresia">
                                <option value="">Seleccione una membresía</option>
                                <option *ngFor="let membresia of membresias" [value]="membresia.id">
                                    {{ membresia.tipo }} - {{ membresia.precio }} €
                                </option>
                            </select>
                            <small
                                *ngIf="registroForm.get('membresia')?.touched && registroForm.get('membresia')?.errors?.['required']"
                                class="text-danger">
                                Selecciona una membresía.
                            </small>
                        </div>

                        <!-- Botones -->
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" routerLink="/usuarios">
                                Cancelar
                            </button>
                            <!-- Versión original con validación -->
                            <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">
                                Crear Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>