<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Especialidad</th>
            <th>Experiencia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entrenador of entrenadores">
            <td>{{ entrenador.id }}</td>
            <td>{{ entrenador.nombre }}</td>
            <td>{{ entrenador.email }}</td>
            <td>{{ entrenador.especialidad }}</td>
            <td>{{ entrenador.experiencia }}</td>
        </tr>
    </tbody>
</table>