body {
  background-image: url("assets/img/fondos/Fondo3.jpg"); /* Ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Para que el fondo sea estático */
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif; /* Opcional: Define una fuente global */
}
